@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'D2Coding';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBMPlexSansKR-Regular', 'Pretendard', sans-serif;
}

:root {
  --main--color: #4f9fec;
  --blue--color: #51baf3;
  --green--color: #8ee060;
  --yellow--color: #eeba4e;
  --orange--color: #f37b4a;
  --pink--color: #eb5de9;
  /* --gray900--color: #242424;
    --gray800--color: #333333;
    --gray700--color: #454545;
    --gray600--color: #646464;
    --gray500--color: #787878;
    --gray400--color: #a1a1a1;
    --gray300--color: #bfbfbf;
    --gray200--color: #e3e3e3;
    --gray100--color: #f1f1f1;
    --gray50--color: #fdfdfd; */
}
