@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: 'D2Coding';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBMPlexSansKR-Regular', 'Pretendard', sans-serif;
}

:root {
  --main--color: #4f9fec;
  --blue--color: #51baf3;
  --green--color: #6dc53c;
  --yellow--color: #eeba4e;
  --orange--color: #f37b4a;
  --pink--color: #eb5de9;

  --outline--color: #575757;

  --gray200--color: #b3b3b3;
  --gray500--color: #505050;
  --gray600--color: #3d3d3d;
  --gray800--color: #242424;

  --light--font: #ffffff;
  --gray--font: #6e6e6e;
  --dark--font: #000000;
  /* --gray900--color: #242424;
    --gray800--color: #333333;
    --gray700--color: #454545;
    --gray600--color: #646464;
    --gray500--color: #787878;
    --gray400--color: #a1a1a1;
    --gray300--color: #bfbfbf;
    --gray200--color: #e3e3e3;
    --gray100--color: #f1f1f1;
    --gray50--color: #fdfdfd; */
}

.h1_title {
  color: var(--light--font);
  font-size: 14px;
  line-height: 18px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
}
